<div class="mat-elevation-z8">
  
    <span>LISTADO TARJETAS</span>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  

  <table mat-table [dataSource]="dataSource" matSort>

  
    <!-- Position Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="numeroTarjeta">
      <th mat-header-cell *matHeaderCellDef>numero tarjeta</th>
      <td mat-cell *matCellDef="let element"> {{element.numeroTarjeta}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="fechaExpiracion">
      <th mat-header-cell *matHeaderCellDef>fecha de expiracion</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaExpiracion}} </td>
    </ng-container>
<!-- Symbol Column -->
<ng-container matColumnDef="cvv">
  <th mat-header-cell *matHeaderCellDef>cvv</th>
  <td mat-cell *matCellDef="let element"> {{element.cvv}} </td>
</ng-container>

<ng-container matColumnDef="acciones">
  <th mat-header-cell *matHeaderCellDef>acciones</th>
  <td mat-cell *matCellDef="let element" class="alineacion">
    <a class="icono-1 pointer" matTooltip="Editar tarjeta">
      <mat-icon>edit</mat-icon>
    </a>
    <a class="icono-2 pointer" matTooltip="Eliminar tarjeta">
      <mat-icon>delete</mat-icon>
    </a>
  </td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons>
</mat-paginator>

</div>



