<div class="card-body">
  <h3 class="titulo">TARjETA CREDITO</h3>
</div>

<h5 class="titulo">AGREGAR TARJETA</h5>
          
<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label>titulo</mat-label>
    <input matInput
    type="text"
    class="form-control"
    placeholder="titular"
    formControlName="titulo">
  </mat-form-field></td>
</tr></table>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tarjeta de Credito</mat-label>
    <input matInput
    type="text"
    class="form-control"
    placeholder="Numero de Tarjeta"
    formControlName="numeroTarjeta">
  </mat-form-field></td>
</tr></table>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fecha de expiracion</mat-label>
    <input matInput
    type="text"
    class="form-control"
    placeholder="fecha de expiracion"
    formControlName="fechaExpiracion">
  </mat-form-field></td>
</tr></table>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Cvv</mat-label>
    <input matInput
    type="password"
    class="form-control"
    placeholder="cvv"
    formControlName="cvv">
  </mat-form-field></td>
</tr></table>
     


