<ng-container matColumnDef="acciones">
  <th mat-header-cell *matHeaderCellDef>Acciones</th>
  <td mat-cell *matCellDef="let element; let i = index" class="alineacion">
  <a class="icono-1 pointer" matTooltip="Editar Usuario">
    <mat-icon>edit</mat-icon>
  </a>
  <a class="icono-2 pointer" matTooltip="Eliminar tarjeta" (click)="eliminarTarjeta(element.titulo)">
    <mat-icon>delete</mat-icon>
  </a>
</td>
</ng-container>
